.section {
  margin-top: 4rem;
  padding:1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .section {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  color: #18181b;
}

.dark .heading {
  color: #f4f4f5;
}

.highlight {
  color: #991b1b;
}

.dark .highlight {
  color: #f87171;
}

.description {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #52525b;
  font-weight: 300;
  margin: 2rem;
}

.dark .description {
  color: #d4d4d8;
}

.links {
  margin-top: 3rem;
  display: flex;
  margin: 2rem;
  flex-direction: column;
  gap: 1rem;
}

.link {
  display: flex;
  gap: 1rem;
  color: #52525b;

  text-decoration: none;
  transition: all 0.3s ease;
}

.link:hover {
  color: #27272a;
}

.dark .link {
  color: #d4d4d8;
}

.icon {
  align-self: center;
  font-size: 1.125rem;
  color: #991b1b;
}

.dark .icon {
  color: #f87171;
}

.dividerline {
  margin-top: 1.5rem;
  width: 18rem;
  border-color: #ffffff;
  margin-left: 0;
}

.dark .divider {
  border-color: #27272a;
}

.email-link {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
  text-decoration: none;
  color: #52525b;
  transition: all 0.3s ease;
}

.email-link:hover {
  color: #27272a;
}

.dark .email-link {
  color: #d4d4d8;
}
.section-animate {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.section-visible {
  opacity: 1;
  transform: translateY(0);
}