.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.section-animate {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}
@media (min-width: 640px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
.headline{
    color: #991b1b;
}
.dark .headline{
    color: #f87171;
}
.dark h2{
    color: white;
}

@media (min-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 4rem;
        padding-right: 4rem;
    }
}